extends layout

block content
    .lorm-container
        .headline Take the
        if lorm === 'l'
            .subway-img.l-train
        else
            .subway-img.m-train

    .status-container
        .train-status L - #{trains.l.status}
        #{trains.l.text}
        .train-status M - #{trains.m.status}
        #{trains.m.text}
    //script.
    //  var html = '#{trains.test}'
    //  var container = document.createElement('div');
    //  container.innerHTML = html;
    //  document.getElementById('test').appendChild(container);
